option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8081
    NODE_ENV: prod
    SECRET: magicleap
    DATABASE: mongodb://user:comeondoggy1@ds163650.mlab.com:63650/magicleap
    SALT_FACTOR: 8
    S3_BUCKET: magicleapchallenge
    S3_ACCESS_KEY: AKIAIJM2BYTP3FOZROAA
    S3_SECRET_KEY: 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